:root{
  --hunter-green: #054905;
  --light-brown: #894e00;
  --dark-brown: #4c2b00;
  --white: #fff;
  --main-font: 'Architects Daughter', cursive;
  --off-font: 'Rock Salt', cursive;
}

.App {
  text-align: center;
  font-family: var(--main-font);
  color: var(--light-brown);
}

.App-header {
  background-color: var(--hunter-green);
  min-height: 10vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: var(--white)
}
p{
  font-size: 20px;
  
}

.logo-div{
  width: 15%;
  justify-content: flex-start;
}
.logo{
  height: 125px;
  width:125px;
}

.nav-div{
  width: 85%;
  margin-left: 70%;
  display: flex;
  justify-content: space-evenly;
}
.nav-btn{
  width: 100%;
  background-color: var(--dark-brown);
  border: 5px groove var(--light-brown);
  color: var(--white);
}

.nav-btn:hover{
  background-color: var(--light-brown);
  border: 5px groove var(--dark-brown);
  color: var(--white);
}
.text-title{
  font-family: var(--off-font);
  letter-spacing: .3rem;

}

.text-light{
  color: var(--light-brown)
}

.text-dark{
  color: var(--dark-brown)
}







/* My Css */

.crafty-eagle{
  background-image: url("./images/crafty-eagle.jpg"); 
  height: 65vh; 
  width: 98%;
  margin: 0 auto;
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: contain; 
}

.shop-now-btn{
  margin: 30% 0;
  font-size: 25px;
  background-color: var(--dark-brown);
  border: 5px groove var(--light-brown);
  color: var(--white);
}
  
.shop-now-btn:hover{
 background-color: var(--light-brown);
  border: 5px groove var(--dark-brown);
  color: var(--white); 
}
.landing-info-div{
  display: flex;
}
.landing-list{
  line-height: 2;
}
.landing-info-div > p {
  width: 50%;
}
.dale, .kara{
  width: 35%;
  height: 250px;
} 



.footer{
  margin: 0 auto;
}